WALLET_MNEMONIC="your seed phrase 12 words" # seed phrase of the deployment wallet
WALLET_VERSION=v4 # wallet contract version (usually v4)
TONCENTER_API_KEY= # API key for a TON access provider
COLLECTION_OWNER="0QAULi--WEaWikW1Tzalrgi1vTYYCCsk007SJPOGPiNVhCQq" # address that will receive NFT royalties
ADMIN_ADDRESS="0QAULi--WEaWikW1Tzalrgi1vTYYCCsk007SJPOGPiNVhCQq" # address of the lottery administrator
REF_PERCENT=10 # referral payout in basis points
