WALLET_MNEMONIC="your seed phrase 12 words"
WALLET_VERSION=v4
TONCENTER_API_KEY=
COLLECTION_OWNER="0QD9FYRXkE7CJcBDrYgX5QlcrrKrhaq789FVwJzZDEcLE1XY" #Address of NFT Collection Owner
ADMIN_ADDRESS="0QD9FYRXkE7CJcBDrYgX5QlcrrKrhaq789FVwJzZDEcLE1XY" #Address of Jet Admin
REF_PERCENT=10 # Fee in %
TOKEN_ADDRESS="" # Jetton address for lottery payments
TICKET_PRICE=10000000 # 10 tokens with 9 decimals

